.iconTextContainer{
    display:grid;
     grid-template-columns: 30px auto;
    align-items:center;
    height:fit-content;
}
.iconTextContainer p{
    margin:0;
    font-size:12px;
    line-height:18px;
    font-family:'Poppins',sans-serif;
    font-weight:300;
}