*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.app{
  background-color:#191923 ;
  width: calc(100vw);
  height: calc(100vh);
  padding: 14px;

}
.main-container{
  background-color: #1e1e28;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  overflow:auto
}
.header{
  display: none;
}
.left-container{
  width: 300px;
  -webkit-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
  position: relative;
}

.left-top{
  background-color:  #24242f;
  width: 100%;;
  height: 230px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.left-top-container{

  /* place-content: center; */
  width: 65%;
  text-align: center;
  
}
.address{
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #262631;
}
.address-row{
  display:grid;
  grid-template-columns:auto auto;
  justify-content: space-between;
}
.address-row h2{

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color:#fafafc;
}
.cardAddress div{
  margin-bottom: -10px;
}
.cardAddress div h2{
  font-size: 12px;
  line-height: 14px;
} 
.address-row p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #8c8c8e;
}

.left-top-container .image{

  justify-content: center;
  align-items: center;
  width: 85px;

  margin:10px auto 0 auto;
  height: 85px;
  position: relative;
 
}
.left-top-container> .image .circle{

    width: 14px;
    height: 14px;
    background: white;
    position:absolute;
    animation: mymove 1s infinite;
    border-radius:50px;
    bottom:6px;
  right:4px;
}
  @keyframes mymove {
  From {
      -webkit-transform: scale(1.0);
      -webkit-opacity:1.0;
  }
  To {
      -webkit-transform: scale(1.6);
      -webkit-opacity:0;
  }
  }
.circle-static{
  position:absolute;
  bottom:6px;
  right:4px;
  width: 14px;
  height: 14px;
  background:rgb(255,193,7);
  border-radius: 50%;
}
.left-top-container .text h1{
 color:#fafafc;
 font-size: 14px;
 line-height: 17px;
 font-family: 'Poppins', sans-serif;
 text-transform: capitalize;
 margin:10px 0 10px 0;
}
.left-top-container .text-sec >p{
  color:#8c8c8e;
  font-family:'Poppins', sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin:-5px 0 5px 0 ;
}
.left-mid{
  width: 100%;
  height: 310px;
  overflow: auto;
  background:#1E1E28;
}
.left-mid::-webkit-scrollbar {
  width: 0em;

  height:0.9em;
}
 

 
.left-mid::-webkit-scrollbar-thumb {  
  border-radius: 5px;
  background-color: rgb(199, 193, 193);
  
}
.language , .stack, .library{
  padding:25px 0 20px 0;
  border-bottom: 1px solid #262631;
}
.language-row p{
  color:#fafafc;
  margin-top: -13px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.language{
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.resume{
  padding:20px 0 20px 0;
  border-bottom: 1px solid #262631;
}
.resume a span{
  font-size: 12px;
  font-family: 'Poppins',sans-serif;
}
.resume a span, .resume a i{
  text-decoration: none;
  color:#8c8c8e;
  transition: 0.3s;
  cursor:pointer
}
.resume a:hover> span, .resume a:hover i{
  color:#fafafc;
}
.left-bottom{
  background-color:  #24242f;

  height: 40px;
  width: 100%;

  position: absolute;
  /* position:fixed; */
  bottom: 0px;

}
.left-bottom{
  display:grid;
  grid-template-columns: auto auto  auto;
  justify-content: space-evenly;
  align-items: center;
}
.left-bottom div i{
  transition: 0.3s;
  cursor: pointer;
  color:#8c8c8e;
}
 .left-bottom div i:hover{

  color:#fafafc;
}

.right-container{
  position: relative;
  overflow: auto;
flex:1;

}
.right-container::-webkit-scrollbar {
  width: 0em;

  height:0.9em;
}
 

 
.right-container::-webkit-scrollbar-thumb {  
  border-radius: 5px;
  background-color: rgb(199, 193, 193);
  
}
.inner-right-container{
  position: absolute;
  top:0;
  width: 100%;
  color: white;
}
.content{
  width:95%; margin:0 auto;
  margin-top:30px
}
.showcase
  {
    position: relative; 
    height: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   

}
.showcase::before{
  content: "";
      background-image: url('https://elanta.app/nazar/arter-demo/img/bg.jpg');
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;

      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.35;
}

.showcase > div {
  position: relative;
  margin-left: 40px;
  width: 90%;
  }
.showcase >div >h1{

  margin-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 43px;
  color:#fafafc;
}
.showcase >div p{
  /* font-family: 'Courier Prime'monospace; */
  font-family: 'Courier Prime', monospace;
  font-size: 16px;
  letter-spacing: 2px;
  line-height:24px;
  color:#fafafc;
  margin:25px 0px;
}
.showcase> div p span{
  color:yellow
}
.showcase >div .explore{
  text-decoration: none;
  background:yellow;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color:#1e1e28;
  padding:15px 20px;
  cursor: pointer;
  margin-right: 5px;
  transition:transform .3s ease-out;
  display: inline-block;
}
.showcase>div .explore:hover{
  
  transform:translateY(-1.5px);
}

.showcase> div p span{
  color:yellow
}
.showcase >div .hire{
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color:#fafafc;
  padding:10px 15px;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
}
.showcase>div .hire i{
  transition: transform .3s ease-in;
}
.showcase>div .hire:hover i{
  
  transform: translateX(4px);
}
.section1{
  display: grid;
 grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-items: center;
}
.section1 p{
  margin:40px 0 30px 0;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color:#fafafc
}
.section1 p span{
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-right: 5px;
}
.myservice h2{
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height:20px;
  color:#fafafc;
  
}
 .myservice_grid{


  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
  grid-gap: 30px;

 
  
}

 .myservice_card > div {

  background:#2C2C38;
  padding: 30px;
 

}
/* .myservice_grid > *:not(:last-child){
  margin-right: 38px;
} */
.myservice_grid div h3{
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color:#fafafc;
  margin-bottom: 15px;
}
.myservice_grid div p{
  font-family: 'Poppins',sans-serif;
  font-size: 12.5px;
  line-height: 18px;
  font-weight: 300;
  color:#8c8c8e;
}
.myservice_grid div a{
  display: inline-block;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 18px;
  color:yellow;
}
.myservice_grid div a i{
  transition: transform .3s ;
}
.myservice_grid div a:hover i{
  transform:translateX(5px);
}
.bg_grey{
  background:#2C2C38;
  padding:30px;
  margin:30px 0;
}
@media(max-width:992px) {
  .myservice_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 20px;
    grid-gap:30px;
     

  }
  .myservice_grid > *:not(:last-child){
    margin-right: 0px;
  }
 .section1{
   grid-template-columns: auto auto auto;
 }
}
@media(max-width:768px){
  .myservice_grid{
    grid-template-columns: 1fr;
  }
  .section1{
    grid-template-columns: auto auto;
  }
}

@media(max-width:920px){
  .main-container{
   position: relative;
   width: 100%;
   display: block;
  }
  .left-container{
    position: absolute;
    width: 100%;
  left:-100%;
  transition: left 0.3s ease;
  height: 90%;
  z-index: 2;
  top:40px;
  overflow: hidden;
  }
  .header{
    position: absolute;
    display: block;
    height: 40px;
    width: 100%;
    background:#191923;
    top: 0;
    z-index: 1;
  }
  .header div{
    width: 100px;
    margin:0 0 0 auto;
  }
  .right-container{
    position: absolute;
    top:11px;
    left:0;
    width:100%;  
    height: 97%;  
  }
  .show{
    /* position: absolute;
    top:0;
    left:0;
    width: 300px;
      transform: translateX(0px);
      height: 100%;
      
      transition: transform 0.3s linear;
      height: 100%; */
      z-index: 2;
      left:0px;
      top:40px;
      overflow: hidden;
      
  }
  .header{
    display:block;
  }
}